[submodule "ijk/ijkplayer"]
	path = ijk/ijkplayer
	url = git@gitee.com:ZoomTec/ijkplayer.git
[submodule "labelImg"]
	path = labelImg
	url = git@gitee.com:ZoomTec/labelImg.git
[submodule "yolo3/darknet"]
	path = yolo3/darknet
	url = git@gitee.com:ZoomTec/darknet.git
[submodule "ffmpeg/ffmpeg-4.3"]
	path = ffmpeg/ffmpeg-4.3
	url = git@gitee.com:mirrors/ffmpeg.git
